.header-leaderboard {
    color: white;
    margin-left: 5%;
    margin-top: 3%;
    font-size: 45px;
}
.board-position { 
    margin-top: 2%;
    margin-left: 5%;
}

.welcome-position {
    text-align: left;
    margin-left: 65%;
    margin-top: -5%;
    font-size: 125px;
    color:rgb(193, 33, 199);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 8px 8px black;
}