<h1 class="header-leaderboard">Top Playlist of the Week</h1>
<div class="board-position"> <!--replace with leaderboard table-->
    <table class="table">
        <thead>
            <th style="width: 100px;">
                No.
            </th>
            <th>
                Playlist
            </th>
        </thead>
        <tbody>
            <tr>
                <td>hi</td>
                <td>im tired</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="welcome-position">
    <p>Create <br>
        Listen<br>
        Repeat</p> 
</div>