<h1 class="header-leaderboard">Top Playlist of the Week</h1>
<div class="board-position"> <!--replace with leaderboard table-->
    <table class="table">
        <thead>
            <th style="width: 100px;">
                No.
            </th>
            <th>
                Playlist
            </th>
        </thead>
        <tbody>
            <tr>
                <td>hi</td>
                <td>im tired</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="welcome-position">
    <p>Create <br>
        Listen<br>
        Repeat</p> 
</div>
<br>
<br>
<div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(193, 33, 199); margin-bottom: auto;">
            © 2021 Copyright:
            <a class="text-dark">Sinergy</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>