.header-leaderboard {
    color: white;
    margin-top: 3%;
    font-size: 45px;
    margin-left: 37%;
    margin-right: auto;
}
.board-position { 
    margin-top: 2%;
    margin-left: 32%;
    margin-right: auto;
}

.table {
    color:rgb(255, 255, 255);
    text-align:center;
    border-collapse: collapse;
    vertical-align: middle;
    table-layout: fixed;
    width: 700px;
    box-shadow: 5px 5px 5px black;
    counter-reset: rowNumber;
}

.table thead {
    background-color: rgb(193, 33, 199);
    color:black;
    border-top: 3px solid rgb(255, 255, 255)!important;
    border-bottom: 3px solid rgb(255, 255, 255)!important;
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
}

.table td {
    border-top: 3px solid rgb(255, 255, 255)!important;
    border-bottom: 3px solid rgb(255, 255, 255)!important;
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    border-top: none!important;
}
table tr::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber);
    align-content: center;
    border-top: 3px solid rgb(255, 255, 255)!important;
    border-bottom: 3px solid rgb(255, 255, 255)!important;
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
}