<div>
    <br>
    <h1 style="color: rgb(255, 255, 255); text-align:center; font-weight: bold; text-shadow: 3px 3px black;">Playlist</h1>
    <br>
    <button onclick="createNewPlaylist('APIplaylist', '1230822798')"> create a playlist</button>
    <button onclick="spotifySearch('death of a bachelor panic at the disco')">search</button>
    
    <table class="table">
        <thead> 
            <th width="100">Name</th>
            <th>Song</th>
            <th>Popularity</th>
        </thead>
        <tbody>
            <tr *ngFor="let name of songs">
                <td>{{name.track.artists[0].name}}</td>
                <td>{{name.track.name}}</td>
                <td>{{name.track.popularity}}</td>
            </tr>
        </tbody>
    </table>
</div>
