.table{
    margin-left: auto;
    margin-right: auto;
    color:rgb(255, 255, 255);
    text-align:center;
    border-collapse: collapse;
    vertical-align: middle;
    table-layout: fixed;
    width: 1200px;
    box-shadow: 5px 5px 5px black;
}

.table thead {
    background-color: rgb(193, 33, 199);
    color:black;
    border-top: 3px solid rgb(255, 255, 255)!important;
    border-bottom: 3px solid rgb(255, 255, 255)!important;
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
}

.table td {
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    border-top: none!important;
}

.bottom {
    border-bottom: 3px solid rgb(255, 255, 255)!important;
}

.button{
    margin-left: 46%;  
    color: #FFF;
    background-color: #ff00ff;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 10px 28px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.button:hover {
        box-shadow: inset 0 100px 0 0 #D80286;
        color:black;
        background-color: #800080;
}