<div>
    <br>
    <h1 style="color: rgb(255, 255, 255); text-align:center; font-weight: bold; text-shadow: 3px 3px black;">Playlist</h1>
    <br>
    <table class="table">
        <thead> 
            <th width="200">Name</th>
            <th width="800">Song</th>
            <th width="200">Popularity</th>
        </thead>
        <tbody>
            <tr *ngFor="let name of songs">
                <td>{{name.track.artists[0].name}}</td>
                <td>{{name.track.name}}</td>
                <td>{{name.track.popularity}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(193, 33, 199); margin-bottom: auto;">
            © 2021 Copyright:
            <a class="text-dark">Sinergy</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>
