
.navbar {
    display: flex;
    background-color: black;
    height: 120px;
}
.navbar-brand {
    display: flex;
    transform: translateX(-50%);
    left: 50%;
    top: 10%;
    position: absolute;
}

.nav-item {
    color: white;
}