<div class="profile">
   <h1>Username: {{user.display_name}}</h1>
</div>
<br>
<div>
    <div class="playlist-table">
        <table>
            <thead>
                <th>ID</th>
                <th>Playlist Name</th>
            </thead>
            <tbody>
                <tr *ngFor="let list of playlists">
                    <td>{{list.name}}</td>
                    <td>{{list.id}}</td>
                </tr>
                <tr>
                    <td>hi im an id</td>
                    <td>a playlist is basically a lasagna of songs</td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
