<h1 class="headertext">User's Name</h1>
<div class="listContainer">
    <table class="table table-danger">
        <thead class="minorHeader">
            <th>Playlist Name</th>
            <th>Number of Songs</th>
        </thead>
        <tbody>
            <tr>
                <td>wow</td>
                <td>wow</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="songList">
        <table class="table table-danger">
            <thead class="minorHeader">
                <th>Song Name</th>
                <th>Details</th>
            </thead>
            <tbody>
                <tr>
                <td>wowowo</td>
                <td>woeiewo</td>
                </tr>
            </tbody>
        </table>
</div>
<button onClick="refreshPlaylists()">help</button>
