<div class="profile">
    <h1>Username: {{user.display_name}}</h1>

</div>
<br>
<div class="page">
<div class="playlist-table">
    <table>
        <thead>
            <th width="600px">Playlist Name</th>
            <th width="100px">No. of Songs</th>
            <th width="100px"></th>
        </thead>
        <tbody>
            <tr *ngFor="let list of playlists" id="visual">
                <td id="{{list.id}}" onclick="setPlaylistURI(this.id)">{{list.name}}</td>
                <td>{{list.tracks.total}}</td>
                <td (click)="goToPlaylist(list.id)">Edit</td>
            </tr>
            
        </tbody>
    </table>
</div>


<div class="embed"><app-embed-playlist></app-embed-playlist></div>
</div>

