<!DOCTYPE HTML>
<html>
    <head>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script type="text/javascript">
</script>
</head>
<body>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
<ng-container>
    <button *ngIf="!(auth.isAuthenticated$ | async); else loggedIn"  (click)="auth.loginWithRedirect()">Log in</button>
    <span *ngIf="auth.user$ | async as user">Hello, {{user.name}}</span>
    <ng-template #loggedIn>
        <button (click)="auth.logout({ returnTo: rootUrl})">Log out</button>
    </ng-template>
</ng-container>
</html>