<!DOCTYPE html>
<html lang="en">
<head>
    <script src="./playlist-maker.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 0 0 30px 0;">

<div class="position">
    <br>
    <h1 class="my-text" style="font-size: 45px; text-shadow: 3px 3px black;">Welcome to the Playlist Maker</h1>
    <br>
    <h5 class="my-text">Please use the following steps to create your Cacophany Playlist</h5>
    <ol class="centerList">
        <li>
            Please enter the name of the playlist and submit the name.
        </li>
        <li>
            Please enter the number of songs you would like on your playlist.
        </li>
        <li>
            Please enter the start and end dates the playlist should span.
        </li>
        <li>
            Please enter your Last.fm username.
        </li>
        <li>
            Grab the top songs you picked.
        </li>
        <li>
            Add songs to your new playlist. 
        </li>
    </ol>
    <br>

    <div>
        <!-- <form action="/action_page.php" onsubmit="InfoSubmit()"> -->
            <label for="playlistName">Playlist Name:</label><br>
            <input type="text" id="playlistName" name="playlistName" style="width: 400px;" placeholder=" e.g. Living in the '80s" [(ngModel)]="newPlay.playlistName"><br><br>

            <button class="button" onclick="playlistCreator('testing?', )">Make Playlist</button><br><br>

            <label for="listLength">Playlist Length:</label><br>
            <input type="number" min="1" max="100" id="listLength" name="listLength" placeholder="10" [(ngModel)]="newPlay.listLength"><br><br>

            <label for="startDate">Start Date:</label><br>
            <input type="date" id="from" name="Start Date" [(ngModel)]="newPlay.from"><br><br>

            <label for="endDate">End Date:</label><br>
            <input type="date" id="to" name="End Date" [(ngModel)]="newPlay.to"><br><br>

            <label for="lastFmName">Last.Fm Username:</label><br>
            <input type="text" id="user" name="LastFmName" placeholder="e.g. siavash1996" [(ngModel)]="newPlay.user"><br><br>
            
            <button class="button" onclick="addSongCreator(['we will rock you Queen', 'wrecking ball miley cyrus'])">Add Your Top Hits</button><br><br>

            <button class="button" style="margin-bottom: 20px;" value="Submit" (click)="InfoSubmit()">Add Songs to Playlist</button>
        </div>
    </div>
    <br>
    <br>


    <table>
        <thead>
        <th>Artist Name</th>
        <th>Song Name</th>
        <th>Play Count</th>
        <th>Rank</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of song">
                <td>{{item.artist['#text']}}</td>
                <td>{{item.name}}</td>
                <td>{{item.playcount}}</td>
                <td>{{item['@attr'].rank}}</td>
            </tr>
        </tbody>
    </table>

<!-- <script>
    function InfoSubmit(playlistName, listLength, from, to, user) {
        document.getElementById(playlistName).value;
        document.getElementById(listLength).value;
        document.getElementById(from).value;
        document.getElementById(to).value;
        document.getElementById(user).value;
        console.log('Start:' + startDate);

        return playlistName, listLength, from, to, user;
    }
</script> -->

<!-- <script src="./ajax.js"></script> -->
<!-- <script>
    let getPlaylist = function() {
        let lastFmApiUrl = "http://ws.audioscrobbler.com/2.0/?method=user.getweeklytrackchart&user=${user}&api_key=bd9a22a5a89705767018c3e16cd85172&from=${from}&to=${to}&format=json";
        let lastFmQuery = document.getElementById("lastFmQuery").value;
    
        fetch(lastFmApiUrl + lastFmQuery).then((res) => res.json()).then(
            (lastFmArr) => {
                let lastPlaylist = lastFmArr[0];
    
                let playTag = document.querySelector('.lastPlaylist').setAttribute('src');
    
                //find the containing div
                let div = document.querySelector('.lastPlaylist');
    
                //first, remove all pre-existing caption element
                document.querySelectorAll('.digimon caption').forEach((el) => el.remove());
                
                // //create new caption element
                // let captionEl = document.createElement('caption');
                // //create a text node with the name
                let lastFmNode = document.createTextNode(lastPlaylist.user, lastPlaylist.to, lastPlaylist.from);
                //append the node to the caption element
                // captionEl.appendChild(lastFmNode);
                // //now append the caption element to the div
                // div.appendChild(captionEl);
        });
    }

</script> -->



