<h1 class="cacColor">Welcome to the Playlist Maker</h1>
<h5 class="cacColor">Please use the following steps to create your Cacophany Playlist</h5>
<ol class="cacColor">
    <li>
        Please enter the name of the playlist
    </li>
    <li>
        Please enter the start and end dates the playlist should span.
    </li>
    <li>
        Please enter your Last.fm username.
    </li>
</ol>

<div>
    <form action="/action_page.php">
        <label for="playlistName" class="my-text">Playlist Name:</label><br>
        <input type="text" id="" name="playlistName" value="Playlist Name Here"><br><br>
        <label for="startDate" class="my-text">Start Date:</label><br>
        <input type="date" id="startDate" name="Start Date"><br><br>
        <label for="endDate" class="my-text">End Date:</label><br>
        <input type="date" id="endDate" name="End Date"><br><br>
        <label for="lastFmName" class="my-text"> Last.Fm Username:</label><br>
        <input type="text" id="lastFmName" name="LastFmName" value="Plectronoceras"><br><br>
        <input class="cacColor" type="submit" value="Submit">
    </form>
</div>