
<div class="position">
    <br>
    <h1 class="my-text" style="font-size: 45px; text-shadow: 3px 3px black;">Welcome to the Playlist Maker</h1>
    <br>

    <button onclick="getUserDetails()">testbutton</button>

    <h5 class="my-text">Please use the following steps to create your Cacophany Playlist</h5>
    <ol class="centerList">
        <li>
            Please enter the name of the playlist.
        </li>
        <li>
            Please enter the number of songs you would like on your playlist.
        </li>
        <li>
            Please enter the start and end dates the playlist should span.
        </li>
        <li>
            Please enter your Last.fm username.
        </li>
    </ol>

    <br>

    <div>

        <!-- <form action="/action_page.php" onsubmit="InfoSubmit()"> -->

            <label for="playlistName">Playlist Name:</label><br>
            <input type="text" id="playlistName" name="playlistName" placeholder="e.g. Living in the '80s" [(ngModel)]="newPlay.playlistName"><br><br>

            <label for="listLength">Playlist Length:</label><br>
            <input type="number" min="1" max="100" id="listLength" name="listLength" placeholder="10" [(ngModel)]="newPlay.listLength"><br><br>

            <label for="startDate">Start Date:</label><br>
            <input type="date" id="from" name="Start Date" [(ngModel)]="newPlay.from"><br><br>

            <label for="endDate">End Date:</label><br>
            <input type="date" id="to" name="End Date" [(ngModel)]="newPlay.to"><br><br>

            <label for="lastFmName">Last.Fm Username:</label><br>
            <input type="text" id="user" name="LastFmName" placeholder="e.g. siavash1996" [(ngModel)]="newPlay.user"><br><br>
            <br>

            <button class="button"  value="Submit" (click)="InfoSubmit()"></button>
        <!-- </form> -->
        <br>
        <br>
        <br>
    </div>
</div>

<!-- <script>
    function InfoSubmit(playlistName, listLength, from, to, user) {
        document.getElementById(playlistName).value;
        document.getElementById(listLength).value;
        document.getElementById(from).value;
        document.getElementById(to).value;
        document.getElementById(user).value;
        console.log('Start:' + startDate);

        return playlistName, listLength, from, to, user;
    }
</script> -->

<table>
    <thead>
    <th>Artist Name</th>
    <th>Song Name</th>
    <th>Play Count</th>
    <th>Rank</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of song">
            <td>{{item.artist['#text']}}</td>
            <td>{{item.name}}</td>
            <td>{{item.playcount}}</td>
            <td>{{item['@attr'].rank}}</td>
        </tr>
    </tbody>
</table>