<!DOCTYPE html>
<html>
    <style>
        body {
        background-color: #202020;
        }
        </style>
        <div>
            <app-nav-bar></app-nav-bar>
            <router-outlet></router-outlet>
            <div class="footer">
                <footer class="bg-light text-center text-lg-start">
                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgb(193, 33, 199);">
                        © 2021 Copyright:
                        <a class="text-dark">Sinergy</a>
                    </div>
                    <!-- Copyright -->
                </footer>
            </div>
        </div>
</html>


