<style>
    body {
    background-color: #202020;
    }
</style>
<div class="usertable">
<h1 style="color: cornsilk;">Users</h1>
<table class="table table-light">
    <thead style="color: azure; background-color: #202020; display:table-header-group;"> 
        <th>UserID</th>
        <th>Email</th>
        <th>Account</th>
        <th colspan="1"></th>
    </thead>
    <tbody style ="background-color: #202020;">
        <tr *ngFor="let user of Users" (click)="goToUser(user.userID)">
            <td>{{user.userID}}</td>
            <td>{{user.email}}</td>
            <td>{{user.account}}</td>
            <td><button>wowow</button></td>
        </tr>
    </tbody>
</table>
</div>



