<div>
<br>
<h1 style="color: rgb(255, 255, 255); text-align:center">Users</h1>
<br>
<table class="table">
    <thead> 
        <th width="100">UserID</th>
        <th>Email</th>
        <th>Spotify Username</th>
        <th width="150">View</th>
    </thead>
    <tbody class="bottom">
        <tr *ngFor="let user of Users" >
            <td>{{user.userID}}</td>
            <td>{{user.email}}</td>
            <td>{{user.account}}</td>
            <td (click)="goToUser(user.userID)"><button class="tbutton">View Playlist</button></td>
        </tr>
    </tbody>
</table>
</div>



