<html>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    function enter(ele) {
        if(event.key === 'Enter') {
            alert(ele.value);        
        }
    }
    </script>
    <br>
    <div class="url">
        <span>last.fm/user/</span>
        <input type="text" class="box enter" placeholder="username" onkeydown="enter(this)">
    </div>
    <br>
    <h1 class='title'>A Graph</h1>
    <br>
    <div class="container">
        <div style="height:600px; width:600px;">
            <canvas id="app-more-charts"> </canvas>
        </div>
        <div style="height:600px; width:600px;">
            <canvas id="app-more-charts_two"></canvas>
        </div>
    </div>
</html>