<html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<br>
<div class="container">
    <div style="height:700px; width:700px; margin-right: auto; margin-left: auto;">
        <canvas id="app-more-charts"> </canvas>
    </div>
    <!--<div style="height:600px; width:600px;">
        <canvas id="app-more-charts_two"></canvas>
    </div>-->
</div>
<br>
<br>
<div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(193, 33, 199); margin-bottom: auto;">
            © 2021 Copyright:
            <a class="text-dark">Sinergy</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>
</html>