<html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="url">
    <form>
        <span style="text-shadow: 3px 3px black;">last.fm/user/</span>
        <input type="text" class="box" placeholder="username" id="enterUser" value="" />
        <br>
        <button class="button1" onclick="submitMe('enterUser')" id="enterUser">Submit</button>
    </form>
</div>
<br>
<h1 class='title'>A Graph</h1>
<div class="container">
    <div style="height:600px; width:600px;">
        <canvas id="app-more-charts"> </canvas>
    </div>
    <div style="height:600px; width:600px;">
        <canvas id="app-more-charts_two"></canvas>
    </div>
</div>
<br>
<br>
<div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(193, 33, 199); margin-bottom: auto;">
            © 2021 Copyright:
            <a class="text-dark">Sinergy</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>
</html>