<div>
    <table style="margin-top: 5%; margin-left: auto; margin-right: auto;">
        <thead>
            <th style="color:White; font-size: 28px;">
                Connect your Spotify account to make<br> 
                personal and unique playlist based on <br> 
                you music listening history.  
                <br>
                <br>
                <img src="assets/images/Spotify.png" alt="Spotify_Logo_RGB_White" style="width:150px">
            </th>
            <th>
            </th>
        </thead>
        <tbody>
            <tr>
                <ng-container>
                    <button class="button1" type="submit" onclick="fetchAccessToken(); myFunction();">Authorize Spotify</button>
                    <br>
                    <br>
                    <button class="button2" type="submit" onclick="clearAuthCode()" (click)="endClick()">End Session</button>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div style="position:relative">
    <footer class="bg-light text-center text-lg-start" style="margin-top: 11%;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(193, 33, 199); margin-bottom: auto;">
            © 2021 Copyright:
            <a class="text-dark">Sinergy</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>
<script>
    function myFunction() {
    alert("You login in!");
    }
    </script>
    
